div#page {
    width: 1400px;
    margin: 0 auto;
    font-family: "メイリオ","Meiryo";
}
/*画像*/
@keyframes infinity-scroll-left {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(-100%);
    }
}
div.photo {
    display: flex;
    overflow: hidden;
}
ul.slideshow {
    display: flex;
    list-style-type: none;
    animation: infinity-scroll-left 50s infinite linear 0.5s both;
}
li.photo-slide {
    width: calc(100vw / 5);
}
li.photo-slide > img{
    width: 130%;
}

/*トップページタイトル*/
a.home-btn {
    text-decoration:none;
}
p.tp-title:hover {
    opacity: 0.7;
}
p.tp-title {
    text-align: left;
    padding: 10px 40px 10px 80px;
    font-family: "游ゴシック体","YuGothic";
    display: flex;
    align-items: center;
}
span#plan-title1 {
    font-size: 45px;
    color: #424242;
    font-weight: bold;
    margin: 10px;
}
span.futidori {
    font-weight: bold;
    font-size: 70px;
    color: rgba(0,0,0,0);
    text-shadow: 3px 3px 0 #EF9A9A;
    -webkit-text-stroke: 1px #4E342E;
}
span#plan-title2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #64B5F6;
    background-position: center center;
    border-radius: 25px 0px 25px 0px;
    padding: 5px 10px 5px 10px;
    margin: 20px;
}

/*メニュー*/
nav.menu {
    background: #ECEFF1;
    margin-bottom: 50px;
}
nav.menu ul {
    display: flex;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
    list-style-type: none;
}
nav.menu ul li {
    position: relative;
    width: 20%;
}
nav.menu ul li:first-child::before {
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    left: 0px;
    width: 1px;
    height: 50%;
    background-color: #212121;
}
nav.menu ul li::after {
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    right: 0px;
    width: 1px;
    height: 50%;
    background-color: #212121;
}
nav.menu ul li a {
    display: block;
    padding: 17px 10px;
    color: #212121;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
nav.menu ul li a.active {
    border-bottom: 2px solid;
    border-color: #212121;
}
nav.menu ul li a:hover {
    color: #fff;
    background-color: #B0BEC5;
}

/*リード*/
div.day3lead {
    margin: 50px 300px 0px 200px;
}
p.lead-title {
    font-size: 25px;
    font-weight: bold;
}
ul.lead-content {
    border: 5px double #78909C;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    width: 800px;
    height: 130px
}
li.lead-item {
    padding: 20px;
    margin-left: 75px;
}
/*スケジュールタイトル*/
p.scheduletitle {
    margin: 100px 200px 0px 200px;
    padding: 0px 0px 10px 100px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #FFAB91;
}
/*香港ディズニー*/
div.disney {
    padding: 50px 100px 100px 300px;
    display: flex;
}
#disney-map {
    width: 430px;
    height: 320px;
}
.disney-text {
    margin: 50px;
    line-height: 70px;
    font-size: 18px;
}
.disney-site {
    position: relative;
    margin-left: 50px;
}
a#disney-text-point {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px 40px;
    margin: 0px 0px 60px 525px;
    width: 550px;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}
a#disney-text-point:hover {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px 40px;
    margin: 0px 0px 60px 525px;
    width: 550px;
    color: #000;
    background: #EEEEEE;
    border-left: double 7px #BF360C;
    border-right: double 7px #BF360C;
}
img#disney-img {
    width: 800px;
    height: 400px;
    margin: 100px 0px 0px 250px;
}

/*飛行機*/
div.airplane {
    margin-top: 75px;
    display: flex;
    margin: 50px 300px 0px 300px;
}
div.airplane-figure {
    text-align: center;
    padding: 30px;
}
p.airplane-text {
    font-size: 12px;
}
div.airport {
    display: inline-block;
    text-align: center;
    margin: 10px;
}
p.airport-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 0px 10px 10px 0px;
}
p.airport-text {
    border: 0px;
    font-size: 15px;
}
div.arrow {
    width: 15px;
    height: 15px;
    border: 5px solid;
    border-color: #000 #000 transparent transparent;
    transform: rotate(45deg);
    margin: 20px;
}
div.airplane-content {
    text-align: center;
    margin-top: 50px;
}
a#jalbtn {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    margin: 75px;
    color: #000;
    border :1px solid;
    background-color: #fff;
    border-radius: 15px;
}
a#jalbtn:hover {
    color: #fff;
    background-color: #9E9E9E;
}
a#jalbtn :visited {
    color: initial;
}
div.octopus {
    margin-left: 350px;
    padding: 20px;
}
span#figure {
    color: #B71C1C;
    font-size: 20px;
    font-weight: bold;
}
.octopus a {
    font-weight: bold;
}
#airplane-map {
    width: 500px;
    height: 320px;
    margin: 60px 0px 0px 400px;
}

/*フッター*/
p.footer {
    color: #fff;
    background-color: #B0BEC5;
    font-size: 10px;
    text-align: center;
    margin: 80px 100px 80px 100px;
    padding: 60px 80px 60px 80px;
}
